.not-found-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    padding: 20px;
}
.not-found-image{
    height: 400px;
    width: 400px;
    filter: brightness(100%);
    opacity: 1;
    margin-bottom: 20px;
}


@media screen  and (max-width:768px){
    .not-found-image{
        height: 300px;
        width: 300px;
    }
    .not-found-heading{
        font-size: 26px;
    }
    .not-found-paragraph{
        font-size: 14px;
    }
    
}